<%
    #@todo: use bootstrap pills here #
%>

<ul>
  <li> <%= link_to 'New Expenditure', new_expenditure_path %> </li>
  <li> <%= link_to 'Expenditures per user', month_detail_expenditures_path %> </li>
</ul>