<%
##
# This partial renders a table with the details of the number of days that each of the users
# were at home on the month selected on the month_detail view.
#
%>

<h2> Days at home per user </h2>

<table class="pure-table">
  <thead>
  <tr>
    <th>Person</th>
    <th># days at home</th>
    <th> % of month </th>
  </tr>
  </thead>

  <tbody>
  <% @days_per_user.each do |key, dayusu| %>
      <tr>
        <td> <%= dayusu['name'] %></td>
        <td> <%= dayusu['days'].to_s %></td>
        <td> <%= number_to_percentage( 100*dayusu['days']/@days_in_month, precision: 0) %></td>
      </tr>
  <% end %>
  </tbody>
</table>