<h2> Owed per person </h2>

<% #@todo: Show the details for each of the calculations %>
<div class="pure-g">
    <% @pending_expenditure_per_user.each do |user, expense| %>
        <div class="pure-u-1-4">
            <p> Pending for <%= user %> </p>
            <table class="pure-table">
              <thead>
                <tr>
                  <th> Pay to </th>
                  <th> Ammount </th>
                </tr>
              </thead>

              <tbody>

                <% expense['totals'].each do |to_whom, ammount| %>
                <tr>
                  <td> <%= to_whom %> </td>
                  <td> <%= number_to_currency(ammount, :precision => 0 )  %> </td>
                </tr>
                <% end %>
              </tbody>
            </table>
        </div>
    <% end %>
</div>